.authentication-form {
  padding: 20px;
  background: #aca0d2;
}

.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.page-title {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.555);
  font-weight: bold;
}

.authentication .card-title {
  font-size: 20px;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: -30px !important;
  max-width: max-content;
  border-bottom-left-radius: 5px;
  background: #fbf1d3;
}

.notification-message {
  padding: 5px;

}

.notification-message:hover {
  cursor: pointer;
  border: 2px solid;
  width: 50%;
  padding: 10px;
  background-color: aliceblue;
}

.anchor {
  text-decoration: underline;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
.Register-Link {
  color: black;
}
